@model IEnumerable<StoreFront.Data.EF.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create">Add New Department Category</a>
</p>

<!-- AJAX - Step 06 - Add the message content div. -->
<div class="row">
    <div class="mx-auto col-md-6">
        <div id="MessageContent" class="text-center"></div>
    </div>
</div>

<!-- AJAX - Step 03 - ID-->
<table class="table" id="CategoriesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
            <!-- AJAX - Step 04 - ID -->
            <tr id="Category-@item.CategoryId">
            <td>

                    <a asp-action="Details" asp-route-id="@item.CategoryId">@Html.DisplayFor(modelItem => item.CategoryName)</a>
            
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
               
                    <!-- AJAX - Step 07 - Modify the delete button -->
                @* <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>*@
                    @if (ViewBag.Products.Contains(item.CategoryId))
                    {
                        <a disabled="disabled" class="text-danger">In Use</a>
                    }
                    else
                    {
                        <a asp-action="AjaxDelete" asp-route-id="@item.CategoryId"
                           data-ajax="true"
                           data-ajax-confirm="Are you sure you want to delete @item.CategoryName?"
                           data-ajax-failure="deleteFailed"
                           data-ajax-success="deleteConfirmed"
                           data-ajax-method="POST">
                            Delete
                        </a>
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
<!-- AJAX - Step 05 - Add a scripts section -->
@section Scripts {
    <script>
        //#region AJAX Delete
        //AJAX - Step 08 - code the deleteConfirmed() and deleteFailed() functions
        function deleteConfirmed(response, status, data) {
            //remove the row from the table
            let rowId = "#Category-" + response.id; 
            console.log(rowId);
            $("#CategoriesTable").find(rowId).remove();

            //display the status message
            $("#MessageContent").removeClass().addClass('alert alert-success').text(response.message);
        }

        function deleteFailed(response, status, data) {
            $("#MessageContent").removeClass().addClass('alert alert-danger').text('Delete unsuccessful.');

        }
                //#endregion
    </script>
}