@model StoreFront.Data.EF.Models.Product

@{
    ViewData["Title"] = "Details";
    string? previousAction = ViewBag.PrevAction;
}


<div style="text-align: center;">
    <h1 class="pt-5">@Model.ProductName Details</h1>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <img src="~/assets/img/products/@Model.ProductImage" alt="@Model.ProductName" longdesc="@Model.ProductDescription" class="img-fluid" />
        <p class="text-info mt-3">
            @Html.DisplayFor(model => model.ProductDescription)
        </p>
    </div>

    <div class="offset-md-3 col-md-3">
        <p>
            <strong>@Html.DisplayNameFor(model => model.ProductPrice) :</strong>
            @Html.DisplayFor(model => model.ProductPrice)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.ProductStatus.StatusName) :</strong>
            @Html.DisplayFor(model => model.ProductStatus.StatusName)
        </p>
      @*  <p>
            <strong>@Html.DisplayNameFor(model => model.Category.CategoryName) :</strong>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </p>*@
    </div>

    <div class="col-md-5">
        <p>
            <strong>@Html.DisplayNameFor(model => model.Merchant.MerchantName) :</strong>
            @Html.DisplayFor(model => model.Merchant.MerchantName)
        </p>
        <p>
            <strong>@Html.DisplayNameFor(model => model.Season.SeasonCategory) :</strong>
            @Html.DisplayFor(model => model.Season.SeasonCategory)
        </p>
    </div>
</div>

<div class="col-md-6 offset-md-3 mb-3 pb-5">

    <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@Model.ProductId" class="btn btn-warning w-100 mb-3">Add To Cart</a>

    @if (previousAction == "Index")
    {
        <a asp-action="Index" class="btn btn-primary w-100 d-inline-block">Back to Products</a>

    }
    else
    {
        <a asp-action="TiledProducts" class="btn btn-primary w-100 d-inline-block">Back to Products</a>
    }

</div>

